includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app/
        - config/
        - database/
        - resources/
        - routes/
        - tests/
    level: 4
    excludePaths:
        - .github/
        - node_modules/
        - vendor/
    checkMissingIterableValueType: false
    ignoreErrors:
        - message: '#^Undefined variable: \$this$#'
          paths:
              - tests/*
              - routes/*
